nltk
pandas
numpy
PyMuPDF
tqdm
sentence-transformers
scikit-learn
huggingface_hub
transformers
torch
torchvision
torchaudio
tensorflow
keras
streamlit
plotly
bertopic
umap-learn
hdbscan
chromadb
google-generativeai
python-dotenv
